body {
    background-image: url(https://wallpapers.com/images/hd/4k-black-hole-with-bright-horizon-kug5rf2bs46mxcur.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #000;
}